$spacing: 30px;

#we-are-component {
    margin-top: -100px;
    z-index: 3;
    position: relative;

    .we-are-container {
        width: 800px;
        background: white;
        border: 5px solid black;

        .we-are-header {
            padding: 0 $spacing;
            margin: $spacing 0;
            height: 40px;
            // padding-bottom: $spacing;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            h1 {
                font-size: 22px;
                position: relative;

                span {
                    font-weight: 300;
                }
            }

            .line {
                flex-grow: 1;
                height: 1px;
                background: black;
                margin-left: $spacing;
            }
        }

        > p {
            padding: 0 $spacing 30px $spacing;
            font-size: 38px;
            font-weight: medium;
        }
    }
}