#we-are-component {
  margin-top: -80px; }
  #we-are-component .we-are-container {
    width: 800px;
    border: 2px solid black; }
    #we-are-component .we-are-container .we-are-header {
      padding: 0 20px;
      margin: 20px 0;
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #we-are-component .we-are-container .we-are-header h1 {
        font-size: 18px;
        position: relative; }
      #we-are-component .we-are-container .we-are-header .line {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        height: 1px;
        background: black;
        margin-left: 20px; }
    #we-are-component .we-are-container > p {
      padding: 0 20px 30px 20px;
      font-size: 38px;
      font-weight: medium; }
